<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816750229887-tu11bt182ea3m0i70egdl9mlf0pgum7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816750229887-tu11bt182ea3m0i70egdl9mlf0pgum7o</string>
	<key>API_KEY</key>
	<string>AIzaSyBzyFpX5jHYynQ2HLi3TGqC40H2d0oB_sM</string>
	<key>GCM_SENDER_ID</key>
	<string>816750229887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.btlCuoiKiNhom2</string>
	<key>PROJECT_ID</key>
	<string>pet-pal-c7e6b</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-pal-c7e6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816750229887:ios:24b1bcf0670c37c16f024a</string>
</dict>
</plist>